body {
	background-color: #d9dddf;
	color: #28292b;
	line-height: 1.6em;
	position: relative;	
}

.pageHeaderWrapper {
	background: #161d22 url('../img/bg-pageHeader.png') repeat-x;
	border-bottom: solid 1px #3d5c70;
}
.pageHeader {
	overflow: hidden;
	min-height: 73px;
}

.pageHeader .siteName {
	margin-top: 2.15em;
}

.pageHeader .loginBox {
	float: right;
	margin-top: 2em;
	width: 200px;
	font-size: 80%;
	line-height: 1.8em;
	color: #899397;
	text-transform: uppercase;
}
.pageHeader .loginBox a {
	color: #fff;
	text-decoration: none;
}
.pageHeader .loginBox a.right {
	float: right;
}

.pageTitleWrapper {
	min-height: 62px;
	background: #d1d6d8 url('../img/bg-pageTitle.png') repeat-x;
	border-bottom: solid 1px #bbbec1;
}

.pageTitle {
	overflow: hidden;
	position: relative;
}
.pageTitle h1 {
	margin: .75em 0;
	color: #131416;
	font-weight: normal;
	font-size: 220%;
}

.pageContentWrapper {
	border-bottom: solid 1px #c8ccce;
	background-color: #edf2f4;
	color: #1d1f20;
}

.pageSection {
	width: 440px;
	margin: 0 auto;
}

.pageContentWrapper {
	border-bottom: solid 1px #c8ccce;
	background-color: #edf2f4;
	color: #1d1f20;
}
.pageContent {
	padding: 0 0 2em;
	min-height: 550px;
	font-size: 1.2em;
}

.success {
	background: url('../img/bg-success-ico.png') no-repeat 0 50%;
}

.success.wrap {
	display: block;
	padding: 1em 15px 1em 50px;
}