
.pageHeader {
	overflow: hidden;
	padding: 1em 20px 1em;
	margin:  0 0 1em;
	background:  #111;
	color: #eee;
}
.pageHeader img {
	float: right;
}
.pageHeader h1 {
	margin:  0;
}


.pageContent {
	margin: 1em 5% 2em;
	font-size: 1.2em;
}
.pageContent p {
	overflow: hidden;
}
.pageContent img {
	border:  solid 2px #627aac;
}

.infoBox {
	border: solid 3px #999;
	background: #ccc;
	margin: 0 0 1em;
	padding: 1em 20px;
}
p.error {
	border: solid 3px #ea2803;
	background: #f3c5bd;
	color: #ea2803;
	padding: .5em 20px;
}

#preview {
	position: absolute;
	border: solid 3px #627aac;
	display: none;
}



.form {
	width: 500px;
	margin: 0 auto;
}
div.formElement {
	overflow: visible;
}
form strong.error,
form ul.errors {
	font-weight: bold;
	float: left;
	text-align: right;
	display: block;
	width: 100%;
}
form strong.error,
form ul.errors li {
	color: #ea2803;
	list-style: none;
}

form div label {
	width: 190px;
}
form div input {
	width: 260px;
}
form div .multiOptions {
	float: none;
	height: auto;
	margin-left: 210px;
	font-size: 90%;
}
form div .multiOptions label {
	float: none;
	display: block;
	width: auto;
}
.multiElement {
	height: auto;
}
form div .multiOptions input {
	float: none;
	width: auto;
	margin-right: 10px;
	vertical-align: top;
}

ul li, ol li {
	margin-bottom: .5em;
}