body {
    background: #29475a;
}

.pageHeader .siteName {
    margin-left: 80px;
}

.pageContentWrapper {
    border: none;
    background: #29475a url('../img/bg-auth.png') no-repeat 50% 0;
}

.pageContent {
    position: relative;
    color: #d7dfe4;
}
.pageContent a {
    color: #94A3AD;
}
.pageContent table {
    margin: 2em 0;
}


.content {
    margin: 0 auto;
    padding: 2em 0 1em;
    width: 788px;
}
.content h1 {
    margin: 1em 0;
    font-size: 250%;
    line-height: 1.4em;
    letter-spacing: -.03em;
    font-weight: normal;
    color: #fff;
}
.hp h1 {
    margin: 1.5em 0;
    font-size: 350%;
    line-height: 1.4em;
    letter-spacing: -.03em;
    font-weight: normal;
    color: #fff;
}
.content .screenshots {
    margin: 3em auto 3em;
}
.content .screenshots img {
    margin-right: 75px;
    border: solid 4px #284558;
}
.content .screenshots img.last {
    margin-right: 0;
}
.content .screenshots2 {
    width: 500px;
}


.loginErrorsWrapper {
    margin: 0 0 2em;
}
.loginErrors {
    margin: 0 auto;
    width: 360px;
    padding: 0 0 0 15px;
    border: solid 1px #2f6c8a;
    background: #cee6f3 url('../img/bg-info.png') repeat-x 0 0;
    color: #2d2e2e;
    font-weight: bold;
}
.loginErrorsWrapper2 {
    min-height: 5em;
}
.loginErrors2 {
    display:none;
}
.loginErrors .wrap1 {
    margin-bottom: -7px;
    padding: 7px 0 14px 0;
    background: url('../img/bg-info-bottom.png') no-repeat 50% 100%;
}
.loginErrors .wrap2 {
    min-height: 9px;
    padding: 10px 15px 10px 45px;
    background: url('../img/ico-info.png') no-repeat 0 50%;
}

.loginErrors label {
    display: block;

}

.loginErrors .success,
.loginErrors .error {
    border: none;
    background: none;
}


.loginForm {
    padding-top: 1em;
    min-height: 0;
    width: 788px;
    margin: 0 auto 5em;
}
.loginFormAlone {
    padding-top: 15em;
}
.loginForm form {
    width: auto;
}
.loginForm fieldset {
    overflow: hidden;
}
.loginForm .formElement {
    float: left;
    padding: 0 5px;
}
.loginForm .noLabel {
    padding: 0;
}
.formElement label {
    display: block;
    margin-bottom: .5em;
    font-size: 80%;
    font-weight: normal;
    color: #d7dfe4;
}
.inputText input {
    vertical-align: bottom;
    padding: 15px 15px;
    width: 260px;
    background: #fff;
    border: none;
    font-size: 100%;
}
.loginButton {
    margin-top: -3px;
    width: 188px;
    height: 55px;
    padding: 0;
    background: none;
}
p.links {
    text-align: center;
    margin-top: 1em;
}
p.links a {
    color: #d7dfe4;
    text-decoration: none;
    font-size: 90%;
}
p.links a:hover {
    text-decoration: underline;
}


.connectors {
    margin: 2em 0 3em;
    overflow: hidden;
}
.connectors .connector {
    float: left;
    width: 235px;
    text-align: center;
}
.connectors .connector div {
    height: 55px;
    margin: 0 0 1em;
}
.connectors .twitter img {
    margin-top: 15px;
}
.connectors .linkedin img {
    margin-top: 5px;
}
.connectors .plus img {
    margin-top: 20px;
}
.connectors a {
    color: #D7DFE4;
}




.pageFooter {
    text-align: center;
    color: #94a3ad;
}
.pageFooter a {
    color: #94a3ad;
}